import React from 'react';
import { render } from '@testing-library/react';
import {{pascalCase name}} from './{{pascalCase name}}';

describe('{{pascalCase name}}', () => {
  const mockedProps = {};

  it('should renders', () => {
    render(<{{pascalCase name}} {...mockedProps} />);
  });
});
